.please_save{
    color:red
}

.item-text{
    width:500px;
    background:white;
    border: 1px solid #ccc;
}
/****************************/

body{
  width: 688px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  font-size: 13px;
  background-color:#99CCFF;
}


.index{
  width: 688px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  font-size: 13px;
  background: url("/media/images/inicio.png") top center no-repeat ;
  background-color:#99CCFF;
}


.index #header{
  border: 0px #ff0 solid;
  height: 220px;
}

.index #main{
  border: 0px #f00 solid;
  /* top  right  bottom  left  */
  margin: 10px 60px 50px 70px;
}

.index #form{
  padding-top: 15px;
  text-align:left;
}

.index #footer{
    margin-top: 130px;
    padding:0 60px;
    text-align:right;
    color: #666;
}




/*******************************/
.bodylist{
  margin-top:0px;
  width:800px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  font-size: 13px;
  background: url("/media/images/fondo.png") top center repeat-y ;
  background-color:#99CCFF;

}
.bodylist #header{
  background: url("/media/images/logochico.png") top 550px no-repeat ;
  border: 0px #ff0 solid;
  padding-top: 50px;
  padding-left: 50px;
}


.bodylist #main{
    border: 0px #f00 solid;

    /* top  right  bottom  left  */
    padding: 10px 60px 50px 70px;
    background: url("/static/imagenes/marca-agua.png") top 250px no-repeat ;
}

.bodylist #url{
  font-size:12px;
  color: #666;
}


.bodylist #additem{
  margin: 10px 0px 10px 0px;
  padding: 10px;
  border-top: 2px #99CCFF solid;
  border-bottom: 2px #99CCFF solid;
}

.bodylist #additem label{
  font-weight: bold;
}


.bodylist a{
  color:#0071E1;
}


.bodylist #cheked{
  font-size: 10px;
  color: #999;
}

.cheked{
 /* color: #99CCFF;*/
    color: #aaa;
    font-size: 12px;
}

.bodylist #additem button{
  border: 1px #999 solid;
  background-color: #fff;
  color: #666;
  font-weight: bold;
}

.bodylist #list{
  padding:10px;
}

.bodylist #footer{
  width: 750px;
  text-align:center;
  color: #666;
  font-size:10px;
}

.bodylist .item-move{
    cursor:move;
}

.item-plane-text{

}

.hidden-text{
    display:none
}

.bodylist table td{
    vertical-align:middle
}
.item-text{
    width: 500px;
    height: 50px;
}

.item-select{
    border-top: 2px dashed #99CCFF;
    border-bottom: 2px dashed #99CCFF;
    background-color: #eee;
}
