<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <title>Remember the list</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/style.css" />
  </head>

  <body class="index">

    <div id="header"></div>

    <div id="main">
      <form id="form" action="" method="post">{% csrf_token %}
        <p>Write a name for your list: </p>
        {{ form }}
        <input type="submit" value="Create list" />
      </form>
    </div>


    <div id="footer">
      Copyright &#169;  mnagara.net 2014
    </div>

  </body>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//mangara.net/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 4]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//mangara.net/piwik/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</html>
