<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Remember the list</title>
    <link href="{{MEDIA_URL}}/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="bodylist">

    <div id="header">
      <h2>{{ list.name }}</h2>
    </div>

    <div id="main">

      <div id="url">
        This list&#39;s URL is<br/>
        <a href="/{{ tmp }}">http://tacuco.com/{{ tmp }} </a><br/>
        Copy it somewhere so you can remember it.
      </div>


      <div id="additem">
        <form id="form" method="POST">{% csrf_token %}
           {{ form }}
           <button type="submit" class="save btn btn-default">Create</button>
        </form>
      </div>


    <ol id="itemForms">
        {% for itemForm in itemForms %}

        <li id="itemForm{{ itemForm.initial.id }}"
            class="itemForm"
            data-itemID="{{ itemForm.initial.id }}" >

          <form method="POST">{% csrf_token %}
            <table>
              <tr>
                <td><img class='item-move' src='{{MEDIA_URL}}/images/move.png' /></td>
                <td><img class="item-delete" src="{{MEDIA_URL}}/images/delete.png" /></td>
                <td> {{ itemForm.checked }} </td>
                <td>
                  <span class='item-plane-text'> {{ itemForm.text.value }} </span>
                  {{ itemForm.text }}
                </td>
                <td>  <button class="item-save" type="submit">Save</button> </td>
              </tr>
            </table>

            {{ itemForm.position }}
            {{ itemForm.lst }}

          </form>
        </li>

        {% endfor %}
      </ol>




      <div id="clone" style="display:none">

        <li id='' class='itemForm ui-sortable-handle' data-itemid=''>
          <form method='POST'>{% csrf_token %}
            <table>
              <tr>
                <td><img class='item-move' src='{{MEDIA_URL}}/images/move.png' /></td>
                <td><img class='item-delete' src='{{MEDIA_URL}}/images/delete.png' /></td>
                <td><input id="id_checked" class="item-checked" name="checked" type="checkbox"> </td>
                <td>
                  <span class="item-plane-text"> </span>
                  <textarea id="id_text" rows="10" cols="40" name="text" class="item-text hidden-text"></textarea>
                </td>
                <td><button style="display: none;" class="item-save" type="submit">Save</button> </td>
              </tr>
            </table>

            <input name="position" value="" id="id_position" type="hidden" />
            <input name="lst" value="{{list.id}}" id="id_lst" type="hidden" />

          </form>

        </li>
      </div>

    </div>

<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>


<script>
$(document).ready(function() {

    $('input:checked').siblings('#id_text').addClass('cheked');

 //   $('.item-text').prop('disabled', true);
    //$('.item-text').attr('style', 'border:0; width:300px; background:white;');
    $('.item-save').hide();


    function make_item(item_id, position, text){
        new_item = $('#clone').find('li').clone();

        new_item.attr('id', 'itemForm'+item_id);
        new_item.attr('data-itemid', item_id);
        new_item.find('#id_text').text(text);
        new_item.find('#id_position').val(position);
        new_item.find('.item-plane-text').text(text);

        $('#itemForms').append(new_item);
    }


    $('#form').submit(function(e){
        e.preventDefault();
        $.post( "{% url new_item list_key=list.key %}",$(this).serialize(), function(data) {
            //console.log(data)
            item = jQuery.parseJSON(data)
            //console.log(item.id)
            $('#form').trigger("reset");
            make_item(item.id, item.position, item.text)

        }) .fail(function() {
            alert( "error" );
        })
    });


    function delete_item(item_id){
        $.post(  "{% url delete_item %}",{
            csrfmiddlewaretoken: '{{csrf_token}}',
            item_id: item_id,
            list_key: '{{list.key}}',
            list_id: '{{list.id}}',
        }).done(function( data ) {
            $('#itemForm'+item_id).remove();
            //console.log( "Data Loaded: " + data + item_id);
        }).fail(function() {
            console.log( "error" );
        });
    }

    function check_item(item_id){

        $.post(  "{% url check_item %}",{
            csrfmiddlewaretoken: '{{csrf_token}}',
            item_id: item_id,
            list_key: '{{list.key}}',
            list_id: '{{list.id}}'
        }).done(function( data ) {
            console.log( "Data Loaded: " + data );
        }).fail(function() {
            console.log( "error" );
        });

    }

    function edit_item(item_id, text){
        //console.log( item_id + " " + text );

        $.post(  "{% url update_text_item %}",{
            csrfmiddlewaretoken: '{{csrf_token}}',
            item_id: item_id,
            list_key: '{{list.key}}',
            list_id: '{{list.id}}',
            item_text : text,
        }).done(function( data ) {
            console.log( "Data Loaded: " + data );
        }).fail(function() {
            console.log( "error" );
        });

    }


   $('#itemForms').sortable({

        stop: function(event, ui) {

            var inf = Number(ui.item.prev().find('#id_position').val());
            var sup = Number(ui.item.next().find('#id_position').val());
            var pos;


            if (!inf) inf = 0;
            if (!sup) pos = Math.ceil(inf) + 1
            if (!pos) pos = inf + ((sup - inf) / 2);

            ui.item.data('pos', pos);
            item_id = ui.item.data('itemid');

            $.post(  "{% url update_item_pos %}",{
                csrfmiddlewaretoken: '{{csrf_token}}',
                item_id: item_id,
                list_key: '{{list.key}}',
                list_id: '{{list.id}}',
                item_pos: pos
            }).done(function( data ) {
                $(ui.item).find('#id_position').val(pos)

            }).fail(function() {
                console.log( "error" );
            });

        },
    });

    $('#itemForms').on('click','.item-save', function(event) {
        event.preventDefault();
        item_id = $(this).parents('.itemForm').data('itemid');
        text = $('#itemForm'+item_id).find('#id_text').val();
        $('#itemForm'+item_id).find('.item-save').hide();
        edit_item(item_id, text);

        $('#itemForm'+item_id).find('.item-text').addClass('hidden-text')
        $('#itemForm'+item_id).find('.item-plane-text').removeClass('hidden-text');
        $('#itemForm'+item_id).find('.item-plane-text').text(text);
        $('#itemForm'+item_id).find('#id_text').removeClass('please_save');
        $('#itemForm'+item_id).removeClass('item-select');
        last_item = false;
    });

    $('#itemForms').on('click','.item-delete', function(event) {
        item_id = $(this).parents('.itemForm').data('itemid');
        delete_item( item_id );
    });

    $('#itemForms').on('click','.item-checked', function(event) {
        item_id = $(this).parents('.itemForm').data('itemid');
        if (this.checked)
            $(this).parents('.itemForm').find("#id_text").addClass('cheked');
        else
            $(this).parents('.itemForm').find("#id_text").removeClass('cheked');
        check_item(item_id);
    }); //focus



    // $('#itemForms').on('focus','.item-text', function(event) {
    //     item_id = $(this).parents('.itemForm').data('itemid');
    //     $('.item-save').hide();
    //     $('#itemForm'+item_id).find('.item-save').show();
    // });
    // $('#itemForms').on('change','.item-text', function(event) {
    //     item_id = $(this).parents('.itemForm').data('itemid');
    //      $('#itemForm'+last_item).find('.item-plane-text').addClass('please_save');
    // });


    last_item = false

    $('#itemForms').on('click','.item-plane-text', function(event) {

        item_id = $(this).parents('.itemForm').data('itemid');
        $('#itemForm'+item_id).addClass('item-select');
        text_plane = $(this);
        text_input =  $('#itemForm'+item_id).find('.item-text');
        $('.item-save').hide();

        if (last_item){
            $('#itemForm'+last_item).find('.item-text').addClass('hidden-text')
            $('#itemForm'+last_item).find('.item-plane-text').removeClass('hidden-text');
            $('#itemForm'+last_item).removeClass('item-select');
        }

        $(this).addClass('hidden-text');
        last_item  = item_id;
        $('#itemForm'+item_id).find('.item-text').removeClass('hidden-text');

        $('#itemForm'+item_id).find('.item-save').show();
        //        $('#itemForm'+item_id).find('.item-text').focus();
        text_area = $('#itemForm'+item_id).find('.item-text')
        text_area_val = text_area.val();
        //console.log(text_area_val);
        text_area.focus().val('');
        text_area.val( text_area_val );


    });
    // $('.itemForm').on('click', function(event) {

    //     var target = $( event.target );
    //     var target_class = target.attr('class');
    //     item_id = $(this).data('itemid');

    //     switch (target_class){
    //     case 'item-text':
    //         console.log(target_class);
    //         break;
    //     case 'item-checked':
    //         check_item(item_id)
    //         break;
    //     case 'item-delete':
    //         delete_item(item_id)
    //         break;
    //     case 'item-edit':
    //         console.log(target_class);
    //         break;
    //     case 'item-button':
    //         event.preventDefault();
    //         edit_item(item_id,$(this).find('#id_text').val());
    //         break;
    //     }

    // });



});

</script>




  </body>
</html>
